{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<div
  class="
    header flex items-center justify-between
    {% if section.settings.sticky_header == 'yes' %}
      header-sticky
    {% endif %}
  "
>
  <a class="title" href="/"><span class="b">Rich</span>Apperal</a>

  <div class="menu-items flex gap-8 items-center">
    {% for block in section.blocks -%}
      {% if block.settings['collection-name'].title %}
        <a id="featured-collection-nav" href="{{ block.settings.collection-name.url }}">
          {{- block.settings['collection-name'].title -}}
        </a>
      {% endif %}
    {%- endfor %}

    <div class="dropdown">
      <a id="featured-collection-nav" class="dropdown">More</a>
      <div class="dropdown-content">
        <a href="/collections">All Collections</a>
        <a href="/blogs/news">Blogs</a>
      </div>
    </div>
  </div>

  <div class="menu-items flex gap-4 items-center">
    {{ localization.country | image_url: width: 32 | image_tag }}
    <a href="/search">
      <img src="{{ 'search.svg' | asset_url }}" height="24" width="24" alt="Search">
    </a>
    <a href="/wishlist">
      <img src="{{ 'heart.svg' | asset_url }}" height="24" width="24" alt="Wishlist">
    </a>
    <a href="/pages/contact">
      <img src="{{ 'email.svg' | asset_url }}" height="24" width="24" alt="Newsletter">
    </a>
    <a href="/account">
      <img src="{{ 'user.svg' | asset_url }}" height="24" width="24" alt="Account">
    </a>
    <div id="open-cart" class="flex items-center gap-1">
      <img src="{{ 'cart.svg' | asset_url }}" height="24" width="24" alt="Cart">
      <span class="cart-count">{{ cart.item_count }}</span>
    </div>
  </div>

  <div class="mobile-menu">
    <svg xmlns="http://www.w3.org/2000/svg" style="height: 24px; width: 24px" viewBox="0 0 448 512">
      <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32-14.3 32 32z"/>
    </svg>
  </div>
</div>

<script>
  function waitForElem(waitFor, callback, minElements = 1, isVariable = false, timer = 10000, frequency = 25) {
    let elements = isVariable ? window[waitFor] : document.querySelectorAll(waitFor);
    if (timer <= 0) return;
    (!isVariable && elements.length >= minElements) || (isVariable && typeof window[waitFor] !== 'undefined')
      ? callback(elements)
      : setTimeout(() => waitForElem(waitFor, callback, minElements, isVariable, timer - frequency), frequency);
  }

  waitForElem('wishlist-link-floating wk-button', ([element]) => {
    $('[href="/wishlist"]').html($('wishlist-link-floating wk-button'));
  });

  $(document).ready(function () {
    var headerHeight = $('.header-sticky')?.outerHeight();
    $('body').css('padding-top', headerHeight + 40 + 'px');
    if ($('.header-sticky').length) {
      $('.top-nav').css({
        position: 'fixed',
        top: '0px',
      });
    }

    $(window).on('scroll', function () {
      var header = $('.header-sticky');
      if ($(this).scrollTop() > 20) {
        header.css('top', '0');
      } else {
        header.css('top', '40px');
      }
    });
  });
</script>

<style>
  .header-sticky {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1000;
    background: white;
    transition: top 0.3s;
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "radio",
      "id": "sticky_header",
      "label": "Sticky Header",
      "default": "no",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Header Collection",
      "type": "collection",
      "settings": [
        {
          "label": "Featured Collection",
          "id": "collection-name",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header Menu"
    }
  ]
}
{% endschema %}
