<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js" async></script>
{{ 'hero_carousel.css' | asset_url | stylesheet_tag }}
<div class="hero-banner-carousel" id="swiper-{{ section.id }}">
  <div class="slide-contents flex flex-col gap-32">
    <h1 class="slide-title">{{ section.settings.section_title }}</h1>
    <a href="/collections/all">
      <button class="b-w-btn small">Shop Now</button>
    </a>
  </div>

  <swiper-container navigation="true">

      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'slider' %}
            <swiper-slide>
              <img
                src="{{ block.settings.hero_banner_image | image_url }}"
                height="750px"
                width="100%"
              
                alt="{{ block.settings.hero_banner_image }}"
              >
            </swiper-slide>
        {% endcase %}
      {% endfor %}


  </swiper-container>
</div>

{% schema %}
{
  "name": "Hero Banner Carousel",
  "settings": [
    {
      "label": "Section Title",
      "id": "section_title",
      "type": "richtext",
      "default": "<p>Hero Banner Carousel</p>"
    }
  ],
  "blocks": [
    {
      "name": "Hero Banner",
      "type": "slider",
      "settings": [
        {
          "label": "Banner Image",
          "id": "hero_banner_image",
          "type": "image_picker"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Banner Carousel"
    }
  ]
}
{% endschema %}
