{{ 'pdp.css' | asset_url | stylesheet_tag }}
<div class="pdp mx-20 mb-16" id="pdp-{{ section.id }}">
  <div class="flex gap-32">
    <div class="pdp-gallery flex gap-16 flex-wrap">
      {% for img in product.images %}
        <img src="{{ img | image_url }}" height="auto" width="48%">
      {% endfor %}
    </div>
    <div class="pdp-info mt-16 pt-16">
      <div class="flex gap-8 muted-txt mb-16">
        <a href="{{ shop.url }}">Home</a> /
        <a href="{{ product.collections.first.url }}"> {{ product.collections.first.title }}</a>
      </div>
      <h2>{{ product.title }}</h2>
      <h2>
        {{ localization.country.currency.symbol -}}
        {{- product.price }}
      </h2>

      <p class="secondary-txt mt-16 mb-16" id="desc-{{ section.id }}">
        {{ product.description }}
      </p>

      {% form 'product', product %}
        <input
          id="product-id"
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
        >
        <select class="product-option" id="variant-select" class="px-8">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }}</option>
          {% endfor %}
        </select>

        <button class="b-w-btn mt-16 wide" id="add-to-bag" type="submit">Add To Bag</button>
      {% endform %}

      <div id="add-to-fav" class=" flex items-center justify-center gap-8">
        <p class="muted-txt mt-16 txt-center"></p>
        <img src="{{ 'heart.svg' | asset_url }}" class="mt-12" height="24" width="24" alt="Wishlist">
      </div>

      <ul class="mt-16">
        <li class="info-list flex justify-between">
          <span>Details</span>
          <img src="{{ "arrow-down.svg" | asset_url }}" alt="arrow down" height="16" width="16">
        </li>
        <li class="info-list flex justify-between">
          <span>Send As Gift</span>
          <img src="{{ "arrow-down.svg" | asset_url }}" alt="arrow down" height="16" width="16">
        </li>
        <li class="info-list flex justify-between">
          <span>Measurments</span>
          <img src="{{ "arrow-down.svg" | asset_url }}" alt="arrow down" height="16" width="16">
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  let product = {{ product | json }};

  let select = document.querySelector('select');
  let selectedVariantId = {{ product.selected_or_first_available_variant.id | json}};
  select.addEventListener('change', () => {
    selectedVariantId = select.value;

    var productInput = document.querySelector('#product-id');

    if (productInput) {
      productInput.value = selectedVariantId;
    }
  });


  $(document).ready(() => {

    $('#add-to-fav').html($('#shopify-block-wishlist_king_wishlist_button_block_CjQtb4'));

    function addToCart(f_data) {    
      fetch('/cart/add.json', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(f_data),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        console.log('Success: ', response);
        $('#open-cart').click();
      })
      .catch(error => {
        console.error('There was a problem with your fetch operation:', error);
      });
    }


    $('#add-to-bag').click((e) => {
      e.preventDefault();
      let formData = {
        'items': [{
          'id': selectedVariantId,
          'quantity': 1
        }]
      };
      addToCart(formData);
    });


  });

</script>

{% schema %}
{
  "name": "product-details-page",
  "settings": [],
  "presets": [
    {
      "name": "Product Page"
    }
  ]
}
{% endschema %}
